<!-- <div class="temperature-wrapper">
    <div class="temperature-left">
    <div class="temp-icon">🌡️</div>
    <div class="temp-title">Temperature</div>
    <div class="temp-value">{{ 'latestTemperature' }} <span class="unit">°C</span></div>
    <div class="temp-desc">Sensor A, Cooling Room</div>
  </div>
</div>
<div class="chart-wrapper">
  <div #chartContainer class="chart"></div>
</div> -->


<!-- temperature-card.component.html -->
<!-- <div class="card">
  <div class="left">
    <div class="icon-title">
      <span class="icon">🌡️</span>
      <span class="title">Temperature</span>
    </div>
    <div class="value">26.3<span class="unit">°C</span></div>
    <div class="location">Sensor: Hall A, Second Floor</div>
  </div>

  <div class="right">
    <div class="chart-placeholder">
       <div #chartContainer class="chart"></div>
    </div>
  </div>
</div> -->

<div class="vibration-card">
  <div class="vibration-left">
    
      <div class="vibration-icon-label">
        <span class="icon">📈</span> <!-- Placeholder icon -->
        <span class="label">Temperature</span>
      </div>
      <div class="vibration-value"><span>45</span> <span class="unit">°C</span></div>
      <div class="vibration-subtitle">WareHouse 2<br>South Block Main facility</div>
    
  </div>

  <div class="vibration-right">
    <div class="chart-scroll-wrapper">
      <div class="scroll-inner">
      <div #chartContainer class="chart"></div>
    </div>
    </div>
  </div>
</div>

